Загрука датасета в pandas и просмотр информации о датасете

In [1]:
import pandas as pd

df = pd.read_csv('car_price_dataset.csv')
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10007 entries, 0 to 10006
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10005 non-null  object
 1   Model         10005 non-null  object
 2   Year          10005 non-null  float64
 3   Engine_Size   10005 non-null  float64
 4   Fuel_Type     10005 non-null  object
 5   Transmission  10005 non-null  object
 6   Mileage       10005 non-null  float64
 7   Doors         10003 non-null  float64
 8   Owner_Count   10005 non-null  float64
 9   Price         10003 non-null  float64
dtypes: float64(6), object(4)
memory usage: 781.9+ KB
None
        Brand   Model    Year  Engine_Size Fuel_Type    Transmission  \
0         Kia     Rio  2020.0          4.2    Diesel          Manual
1   Chevrolet  Malibu  2012.0          2.0    Hybrid       Automatic
2    Mercedes     GLA  2020.0          4.2    Diesel       Automatic
3        Audi      Q5  2023.0          2.0  Electric          Manual
4  Volkswagen    Golf  2003.0          2.6    Hybrid  Semi-Automatic

    Mileage  Doors  Owner_Count    Price
0  289944.0    3.0          5.0   8501.0
1    5356.0    2.0          3.0  12092.0
2  231440.0    4.0          2.0  11171.0
3  160971.0    2.0          1.0  11780.0
4  286618.0    3.0          3.0   2867.0

Переименуем колонки

In [2]:
df.rename(columns={'Brand': 'Бренд', 'Model': 'Модель', 'Year': 'Год',
        'Engine_Size': 'Объём двигателя', 'Fuel_Type': 'Тип топлива',
        'Transmission': 'Трансмиссия', 'Mileage': 'Пробег',
        'Doors': 'Количество дверей', 'Owner_Count': 'Количество владельцев',
        'Price': 'Стоимость'}, inplace=True)
print(df.info())
df.to_csv('processed_1.csv',index=False, header=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10007 entries, 0 to 10006
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Бренд                  10005 non-null  object
 1   Модель                 10005 non-null  object
 2   Год                    10005 non-null  float64
 3   Объём двигателя        10005 non-null  float64
 4   Тип топлива            10005 non-null  object
 5   Трансмиссия            10005 non-null  object
 6   Пробег                 10005 non-null  float64
 7   Количество дверей      10003 non-null  float64
 8   Количество владельцев  10005 non-null  float64
 9   Стоимость              10003 non-null  float64
dtypes: float64(6), object(4)
memory usage: 781.9+ KB
None

Определение пустых строк и их удаление

In [3]:
df = pd.read_csv('processed_1.csv')
empty_rows = df[df.isnull().all(axis=1)]
print(empty_rows, "\n")
df.dropna(how='all', inplace=True)

empty_rows = df[df.isnull().all(axis=1)]
print(empty_rows)

df.to_csv('processed_2.csv',index=False, header=True)

   Бренд Модель  Год  Объём двигателя Тип топлива Трансмиссия  Пробег  \
22   NaN    NaN  NaN              NaN         NaN         NaN     NaN
44   NaN    NaN  NaN              NaN         NaN         NaN     NaN

    Количество дверей  Количество владельцев  Стоимость
22                NaN                    NaN        NaN
44                NaN                    NaN        NaN

Empty DataFrame
Columns: [Бренд, Модель, Год, Объём двигателя, Тип топлива, Трансмиссия, Пробег, Количество дверей, Количество владельцев, Стоимость]
Index: []

Определение пустых ячеек столбцов "Количество дверей" и "Стоимость", замена средним значением колонки (Количество дверей) и средним значением колонки (Стоимость) с учётом параметра другой колонки (Бренд)

In [4]:
df = pd.read_csv('processed_2.csv')

print("До:")
print(df[df['Количество дверей'].isnull() == True])
doors = round(df['Количество дверей'].mean())
print(f"Среднее количество дверей: {doors}")

print("После:")
df['Количество дверей'] = df['Количество дверей'].fillna(doors) 
print(df[8:19:10], "\n\n")


print("До:")
print(df[df['Стоимость'].isnull() == True])
cost_honda = round(df[(df['Бренд'] == 'Honda')]['Стоимость'].mean()) 
cost_audi = round(df[(df['Бренд'] == 'Audi')]['Стоимость'].mean()) 
print(f"Средняя стоимость Honda: {cost_honda}")
print(f"Средняя стоимость Audi: {cost_audi}")

print("После:")
df.loc[df['Бренд'] == 'Honda', 'Стоимость'] = df.loc[df['Бренд'] == 'Honda', 'Стоимость'].fillna(cost_honda)
df.loc[df['Бренд'] == 'Audi', 'Стоимость'] = df.loc[df['Бренд'] == 'Audi', 'Стоимость'].fillna(cost_audi) 
print(df[43:47:3])

df.to_csv('processed_3.csv',index=False, header=True)

До:
   Бренд    Модель     Год  Объём двигателя Тип топлива     Трансмиссия  \
10   Kia  Sportage  2014.0              2.6      Hybrid          Manual
21   Kia       Rio  2000.0              3.4      Diesel  Semi-Automatic

      Пробег  Количество дверей  Количество владельцев  Стоимость
10   98700.0                NaN                    4.0     9926.0
21  257427.0                NaN                    3.0     2351.0
Среднее количество дверей: 3
После:
         Бренд Модель     Год  Объём двигателя Тип топлива Трансмиссия  \
8        Honda  Civic  2010.0              3.4    Electric   Automatic
18  Volkswagen   Golf  2007.0              3.2      Diesel   Automatic

      Пробег  Количество дверей  Количество владельцев  Стоимость
8   139584.0                3.0                    1.0    11208.0
18   60103.0                2.0                    1.0     9697.0


До:
    Бренд Модель     Год  Объём двигателя Тип топлива Трансмиссия    Пробег  \
46  Honda  Civic  2000.0              3.9      Hybrid      Manual   56020.0
49   Audi     Q5  2023.0              3.6    Electric      Manual  238306.0

    Количество дверей  Количество владельцев  Стоимость
46                2.0                    4.0        NaN
49                5.0                    2.0        NaN
Средняя стоимость Honda: 8666
Средняя стоимость Audi: 8929
После:
    Бренд Модель     Год  Объём двигателя Тип топлива Трансмиссия   Пробег  \
43   Ford  Focus  2004.0              1.2    Electric      Manual  93645.0
46  Honda  Civic  2000.0              3.9      Hybrid      Manual  56020.0

    Количество дверей  Количество владельцев  Стоимость
43                3.0                    3.0     6627.0
46                2.0                    4.0     8666.0

Поиск дубликатов и их удаление

In [5]:
df = pd.read_csv('processed_3.csv')

print(f"Количество дубликатов: {df.duplicated().sum()}")
print(df[df.duplicated() == True])
print()
df.drop_duplicates(inplace=True)
print(f"Количество дубликатов: {df.duplicated().sum()}")
print(df[df.duplicated() == True])

df.to_csv('processed_4.csv',index=False, header=True)

Количество дубликатов: 3
         Бренд    Модель     Год  Объём двигателя Тип топлива     Трансмиссия  \
5   Volkswagen      Golf  2003.0              2.6      Hybrid  Semi-Automatic
6   Volkswagen      Golf  2003.0              2.6      Hybrid  Semi-Automatic
13         BMW  5 Series  2013.0              1.3      Hybrid       Automatic

      Пробег  Количество дверей  Количество владельцев  Стоимость
5   286618.0                3.0                    3.0     2867.0
6   286618.0                3.0                    3.0     2867.0
13  296824.0                2.0                    3.0     5863.0

Количество дубликатов: 0
Empty DataFrame
Columns: [Бренд, Модель, Год, Объём двигателя, Тип топлива, Трансмиссия, Пробег, Количество дверей, Количество владельцев, Стоимость]
Index: []

Изменение типа данных для нескольких колонок

In [6]:
df = pd.read_csv('processed_4.csv')

print(df.dtypes, "\n")
df['Год'] = df['Год'].astype('int64')
df['Пробег'] = df['Пробег'].astype('int64')
df['Количество дверей'] = df['Количество дверей'].astype('int64')
df['Количество владельцев'] = df['Количество владельцев'].astype('int64')
df['Стоимость'] = df['Стоимость'].astype('int64')
print(df.dtypes)

df.to_csv('processed_5.csv',index=False, header=True)

Бренд                     object
Модель                    object
Год                      float64
Объём двигателя          float64
Тип топлива               object
Трансмиссия               object
Пробег                   float64
Количество дверей        float64
Количество владельцев    float64
Стоимость                float64
dtype: object

Бренд                     object
Модель                    object
Год                        int64
Объём двигателя          float64
Тип топлива               object
Трансмиссия               object
Пробег                     int64
Количество дверей          int64
Количество владельцев      int64
Стоимость                  int64
dtype: object